<section ng-controller="tripCtrl as vm">
<navbar></navbar>
<div class="topView">
  <div class="card-block halfWidth">
      <h4 style="text-align: center; font-weight: 600;">Travel Information for {{ trip.destination }}.</h4>
        <div>
          <hr />
            <ul>
              <h4>Arrive on: {{ trip.arrivalDate }}</h4>
              <h4>Depart on: {{ trip.departDate }}</h4>
            </ul>
          </div>
  </div>
  <div class="card-block halfWidth">
      <h4 style="text-align: center; font-weight: 600;">Percentage of Completion</h4>
      <div>
        <hr />
      <h4 ng-model="getPercentage(trip)">{{ percentOfGoal }}% of your goal! Keep it going!</h4>
      <!-- <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular class="md-warn md-hue-3" md-diameter="70" md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-circular>
      </div> -->
      </div>
  </div>
  <div class="card-block halfWidth">
      <h4 style="text-align: center; font-weight: 600;">Financial Outlook</h4>
        <div>
          <hr />
          <h4>So far you have saved ${{ trip.amountSavedTotal }} out of ${{ trip.amountToSave }}.</h4>
        </div>
  </div>
</div>
<!-- <div class="progress">
  <uib-progressbar class="progress-striped active" value="getProgressbarValue()" type="success"></uib-progressbar>
</br/>
</div> -->
<div class="panel panel-default">
  <div class="panel-heading" ng-controller="moneyCtrl">Deposits</div>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="deposit in deposits">
        <td></td>
        <td>{{ deposit.date }}</td>
        <td>{{ deposit.description }}</td>
        <td>{{ deposit.amountDeposited }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <table class="table">
  <tbody>
    <th>
      <td><input type="text" class="form-control" placeholder="Date" /></td>
      <td><input type="text" class="form-control" placeholder="Description" /></td>
      <td><input type="text" class="form-control" placeholder="Amount" /></td>
      <td><input class="btn btn-success" type="submit" value="Submit"></td>
    </th>
  </tbody>
  </table>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Map</div>

  </div>
</section>
