<section ng-controller="tripCtrl as vm">
<navbar></navbar>
<h1 ng-show="!trips.length">You don't have any trips planned. Get your ass in gear!</h1>
<div trip-container ng-show="trips.length">
<div class="topView">
  <div class="card-block halfWidth">
      <h4 style="text-align: center; font-weight: 600;">{{ trip.arrivalDate | amDifference : null : 'days' }} days until your in {{ trip.destination }}!!</h4>
        <div>
          <hr />
            <ul>
              <h4>Arrive on: {{ trip.arrivalDate | date: medium }}</h4>
              <h4>Depart on: {{ trip.departDate | date: medium }}</h4>
            </ul>
          </div>
  </div>
  <div class="card-block halfWidth">
      <h4 style="text-align: center; font-weight: 600;">Percentage of Completion</h4>
      <div>
        <hr />
      <h4 ng-model="getPercentage(trip)">{{ percentOfGoal }}% of your goal! Keep it going!</h4>
      </div>
      <div class="progress">
        <uib-progressbar class="progress-striped active" value="percentOfGoal" type="success"></uib-progressbar>
      </br/>
      </div>
  </div>
  <div class="card-block halfWidth">
      <h4 style="text-align: center; font-weight: 600;">Financial Outlook</h4>
        <div>
          <hr />
          <h4>So far you have saved ${{ trip.amountSavedTotal }} out of ${{ trip.amountToSave }}.</h4>
        </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Deposits</div>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="deposit in deposits ">
        <td></td>
        <td>{{ deposit.date | date: format: 'shortDate' }}</td>
        <td>{{ deposit.description }}</td>
        <td>{{ deposit.amountDeposited }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <table class="table">
  <tbody>
    <th>
      <form name="depositForm">
        <td><input type="text" ng-model="deposit.description" class="form-control" placeholder="Description" /></td>
        <td><input type="text" ng-model="deposit.amountDeposited" class="form-control" placeholder="Amount" /></td>
        <td><input ng-click="makeDeposit(deposit, trip._id, trip.amountSavedTotal)" class="btn btn-success" type="submit" value="Submit"></td>
      </form>
    </th>
  </tbody>
  </table>
  </div>
  <div class="panel panel-default">
    <div ng-model="airBnb" class="panel-heading">AirBnB Listings</div>



  </div>
</div>
</section>
