<!-- BEGIN LOGIN FORM -->
<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-box-body">
          <div class="login-logo">
              TraV<b>App</b>
          </div><!-- /.login-logo -->
            <p class="login-box-msg">Sign in to start saving!</p>
            <form ng-submit="loginForm(input)">
              <div class="form-group has-feedback">
                <input type="email" ng-model="input.email" class="form-control" placeholder="Email" />
                <span ng-show="errorName"</span>
              </div>
              <div class="form-group has-feedback">
                <input type="password" ng-model="input.password" class="form-control" placeholder="Password"  />
                <span ng-show="errorEmail"</span>
              </div>
              <div class="row">
                  <div class="col-xs-12">
                      <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                  </div>
                  <div class="col-xs-12">
                  </div>
              </div>
            </form>
        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
</div>


<!-- END LOGIN FORM -->
