<div ng-controller="loginCtrl" class="login-box" layout="column" layout-padding ng-cloak>
  <br/>
  <div class="login-logo">
    <h1>TravApp</h1>
  </div>
  <div class="login-box-body">
    <div layout-gt-sm="column">
      <md-input-container md-no-float class="md-block">
            <input ng-model="user.email" placeholder="Username">
      </md-input-container>
      <md-input-container md-no-float class="md-block">
          <input ng-model="user.password" placeholder="Password">
      </md-input-container>
      <md-button ng-click="userLogin(user); currentUser();" class="md-raised md-primary" layout-align="center">LOGIN</md-button>
      <span style="text-align:center;">Don't have any account? ... </span>
      <md-button ui-sref="register" class="md-raised" layout-align="center">REGISTER</md-button>
    </div>
    </div>
</div>
